doctype html

html
    head       
        link(rel='stylesheet', href='href="https://fonts.googleapis.com/css?family=Open+Sans"')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
        link(rel='stylesheet', href='style/style.css')
        title prova
    body
        div(class="header") 
            div(class="div1")
                div(class="div_box")
                    img(class="img1" src="robo.png")
                    div(class="div2")   
                        div(class="aa")                
                            a(href='#') Campaigns
                            a(href='#') Segments
                            a(href='#') Products
                            a(href='#') Model porfolios
                        div(class="hh")
                            h1 New item
                div(class="icon")
                    i(class="fas fa-user")
                    i(class="fas fa-bell")
                    i(class="fas fa-comments")
                    i(class="fas fa-search")
        div(class="middle")
            div(class="corpo")
                    i(class="fas fa-check-circle") Segment Choice and Analytics
                    i(class="fas fa-check-circle") Setup Main Parameters
                    i(class="fas fa-check-circle") Strategies and Constraints
                    i(class="fas fa-check-circle") Conversions
                    i(class="fas fa-check-circle") Proposal
                i()
                i()
            h3 KPIs
            div(class="rettangoli")
                div(class="box")
                    div(class="scrittaB") Privare EBITDA target
                    div(class="scrittaN_box") 
                        div(class="scrittaNd") 
                            div(class="scrittaN") SEGMENT
                            div(class="scrittaN") Retail clients north-east area
                        div(class="scrittaNd") 
                            div(class="scrittaN") COVERED CLIENTS
                            div(class="scrittaN") 36,560 on 36,568
                    i(class="fas fa-info-circle") Show client list
                div(class="box") 
                    div(class="scrittaN") MODEL PORTFOLIO
                    div(class="scrittaB") 
                        h2 4
                    i(class="fas fa-info-circle")   Show client list         
                div(class="box") 
                    div(class="scrittaN") TARGET PRODUCTS
                    div(class="scrittaB") 
                        h2 12 
                    i(class="fas fa-info-circle")    Show client list          
                div(class="box") 
                    div(class="scrittaN") EXPECTED AMOUNT
                    div(class="scrittaB") 
                        p 12,000,000
                    div(class="scrittaE") 
                        h2 EUR 
                    i(class="fas fa-info-circle")     Show client list        
                div(class="box") 
                    div(class="scrittaN") CONVERTED AMOUNT
                    div(class="scrittaB")
                        p 986,610,000
                    div(class="scrittaE")
                        h2 EUR 
                    i(class="fas fa-info-circle") Show client list
                    

                