mixin loopItems(items) 
    each item in items
        li
            if item.icon 
                i.fas(class=`fa-${item.icon}`)
            a(href="#")= item.name
             
- var menu = [{ "name":"Campaigns", "icon": null }, { "name":"Segments", "icon": null}, { "name":"Products", "icon": null}, { "name":"Model porfolios", "icon": null}]
- var icons = [{ "name":"", "icon": "search" }, { "name":"", "icon": "user"}, { "name":"", "icon": "eye" }, { "name":"", "icon": "bell" }]
- var toolbarItems = [{ "name":"Segment Choice and Analytics", "icon": "check-circle" }, { "name":"Setup Main Parameters", "icon": "check-circle" }, { "name":"Strategies and Constraints", "icon": "check-circle" }, { "name":"Conversions", "icon": "check-circle" }, { "name":"Proposal", "icon": "check-circle" }]

doctype html
html
    head
        link(rel='stylesheet', href='href="https://fonts.googleapis.com/css?family=Open+Sans"')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.1/css/all.css')
        link(rel='stylesheet', href='style/style.css')
        title Robo Planning Preview
    body
        .header
            .div_1
                .div_box
                    img(class="img1" src="robo.png")
                    .div_box1
                        .div_top
                            ul 
                              +loopItems(menu)
                        .div_bottom
                            h1 New Campain
                .div_icon   
                    ul 
                       +loopItems(icons)
        .middle
            ul.corpo  
                +loopItems(toolbarItems)
            h3 Private EBITDA target
            .div_rectangle
                .div_box2
                    img(class="img2" src="people.jpg")
                    .scritta_n
                        p Retail clients north-east area
                        p 36,560 clients
                        a(href='#') Show clients list 
            .div_form
                .form_1
                    label(for='date') START DATE
                    input.form-control(type='date' id='date' placeholder='24/04/2019' name='start_date')                   
                .form_1
                    label(for='date') END DATE
                    input.form-control(type='date' id='date' placeholder='24/04/2020' name='end_date')
                .form_1
                    label(for='comptability') COMPTABILITY
                    .form_btn
                        input.form-control(type='number' id='number' placeholder='50' name='contability')
                        button.btn.btn-primary %
                .form_1
                    label(for='liquidity') LIQUIDITY
                    .form_btn
                        input.form-control(type='number' id='number' placeholder='100' name='liquidity')
                        button.btn.btn-primary % 
                .form_1
                    label(for='date') AMOUNT DATE
                    input.form-control(type='date' id='date' placeholder='--/--/----' name='amount_date')
            .phrase
                p Optimize by 
                p You can choose to optimaize redistribution on model portfolios and products.
            .div_rectangle
                .div_box2_0
                    img(class="img2" src="money.jpg")
                    .scritta_n
                        p Model portfolios
                        p Select one or more model portfolios
                        a(href='#') Choose
                .div_box2_0
                    img(class="img2" src="point.png")
                    .scritta_n
                        p Investment products
                        p Definespecific target products to invest in.
                        a(href='#') Choose                  