<div class="Home__title">
  Search film 
</div>
<div class="Home__Container">
  <span class="Label">
    insert a Title PLZ
  </span>
  <input class="Input" [(ngModel)]="filmName"/>
  <button class="Button" (click)="searchFilm()"> SEARCH</button>
  <div class="Home__filmListContainer">
    <div class="Home__film" *ngFor="let film of filmList">
      <img [src]="film.Poster"/>
      <div class="Home__filmName">{{film.Title}}</div>
      <div class="Home__filmName">{{film.Year}}</div>
      <div class="Home__filmName">{{film.Language}}</div>
      <div class="Home__filmName">{{film.Metascore}}</div>
      <app-button [film]="film"></app-button>
    </div>
  </div>
</div>